@charset "UTF-8";
/* CSS Document */
	*{
		margin:0;
		padding:0;
	}

	body{
		font-family:Verdana, Geneva, sans-serif;
		line-height:1.5;
	}
	h1{
		font-size:5em;		
		color:#F00;	
		padding-right:30px;	
	}
	h2{
		margin-bottom:1.1em;
		padding:10px;
		color:#999;
	}
	p{
		color:#666;
		margin-bottom:1.3em;
		padding:20px;
	}
	#container{
		width:700px;
		margin-left:100px;
		border-left:1px solid #CCC;
		border-right:1px solid #CCC;
	}
	header{
		background-color:#eee;
		border-bottom:1px solid #666;
		padding-top:60px;
		text-align:right;
		/*padding-right:30px;	*/
	}
	nav{
		background-color:#CCC;	
		padding-right:30px;
		padding-top:10px
	}
	footer{
		text-align:center;
		background-color:#eee;
		border-top:1px solid #666;
	}
	footer p{
		font-size:.5em;
		color:#f00;	
	}
	figure{
		text-align:center;	
	}
	nav li{
		display:inline;
	}
	nav a:link, nav a:visited{
		font-weight:bold;
		font-size:1.1em;
		padding:10px;
		color:#666;
		text-decoration:none;
	}
	nav a:hover{
		text-decoration:underline;
	}
	nav a:active{
		color:#f00;
	}
	
	
	
